Source: openvpn2dns
Maintainer: Malte Swart <packages@devtation.de>
Section: python
Priority: optional
Build-Depends: python (>= 2.6), debhelper (>= 9), python-setuptools, pandoc
Standards-Version: 3.9.3
XS-Python-Version: >= 2.6
Homepage: https://github.com/mswart/openvpn2dns
Vcs-Git: git://git@github.com:mswart/openvpn2dns.git
Vcs-Browser: https://github.com/mswart/openvpn2dns

Package: openvpn2dns
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-ipy, python-twisted-names
Description: pure python DNS server serving the content of OpenVPN's status files
 A pure python DNS server serving the content of OpenVPN status files. It
 parses the status files of the OpenVPN server to extract the connected clients
 and their IP addresses. From theses data OpenVPN2DNS creates DNS zones and
 serves them as DNS server (using Python's twisted module).
 .
 Afterwards all connected VPN clients have valid DNS entries.
 .
 The server supports zone transfers (AXFR) and zone update notifies and can
 therefore used as master DNS server.
